*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;

}*
body{
    font-family:'Times New Roman', Times, serif;
    scroll-behavior: smooth;
  
}

.container{
    width: 1000px;
    padding: 0 15px;
    margin: 0 auto;
    
}

@media screen and (min-width: 992px) {
    header{
        background-color: #ecebeb;
        padding: 15px;
        width: 100vw;
    }
    .header_bg{
        display: flex;
        padding-top: 10px;
    }
    .contend_area{
        margin-top: 25px;
    }
    .header_bg h4{
        margin-bottom: 15px;
        font-size: 18px;
        line-height: 1.5rem;
        text-transform: uppercase;
    }
    .header_bg p{
        line-height: 1.5rem;
        font-size: 1.3rem;
    }
    .header_bg img{
        width: 50%;
    }
/* header-area-end */

/*table-list_area-start*/
main .container h1{
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
}
.table_list ul{

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.table_list ul li{
    margin-top: 40px;
    margin-bottom: 60px;
    font-size: 1.5rem;
    cursor: pointer;
}

/*search_box-area-start*/
.search_box{
    text-align: center;
    margin-bottom: 10px;

}
.search_box input{
    padding: 7px;
    border-top: none;
    border-left: none;
    border-right: none;
}
.search_box button{
    padding: 5px;
    background-color: #ccc;
    font-size: large;
    margin-left: 5px;
}
.searchValue{
    display: none;
}

/*country_display-area-start*/
.country_display{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:#ecebeb;
    padding: 10px;
    overflow-y: scroll;
  
    
}
.card{
    width: 200px;
    padding: 10px ;
    margin: 5px 0;
    background-color:white;
}
.card img{
    width: 100%;
}
.card .titleText{
    margin-top: 10px;
}
.detailsBtn{
    padding: 7px;
    cursor: pointer;
    font-size: 15px;
    border: none;
    margin-top: 5px;
}
/*country-details-area*/

.country-details{
    margin-bottom: 4rem;
    background:#ccc;
    padding: 15px;
    border-radius: 5px;
 }
  .countryDetail{
        display: flex;
        justify-content:space-around;
        margin-top: 5px;
 } 
 .countryDetail img{
     width: 100%;
     
 }
 .countryDetail .flag-img{
     width: 20%;
 }
 .countryInfo{
     text-align: start;
     width: 50%;
     margin-left: 50px;
 }
 .country-details #back{
     display: none;
     text-align: left;
     cursor: pointer;
     padding: 5px;
     background-color: #c5c3c8;
     margin-bottom: 5px;
     border-radius: 5px;
 } 
 

}
@media screen and (min-width: 641px) {
    header{
        background-color: #ecebeb;
        padding: 15px;
        width: 100vw;
    }
    .header_bg{
        display: flex;
        padding-top: 10px;
    }
    .contend_area{
       width: 40vw;
       margin-top: 4rem;
    }
    .header_bg h1,h2{
        margin-bottom: 15px;
        font-size: 20px;
    }
    .img_area{
       width: 60vw;
    }
    .img_area img{
        width: 100%;
    }
    /* header_area-end*/

    main .container h1{
        margin-top: 30px;
        text-align: center;
        
    }
    .table_list ul{
    
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        list-style: none;
    }
    .table_list ul li{
        margin-top: 40px;
        margin-bottom: 60px;
        font-size: 1.5rem;
        cursor: pointer;
    }
    /*table-list-area_end */
    
    /*search-box_area-start */
    .search_box{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    
    }
    .search_box input{
        padding: 7px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-radius: 5px;
    }
    .search_box input:hover{
        border: none;
    }
    .search_box button{
        padding: 5px;
        background-color: #ecebeb;
        font-size: large;
        margin-left: 5px;
        border-radius: 5px;
        border: none;
    }
    
    .searchValue{
        display: none;
    }

    /*country-display_area-start*/

    .country_display{
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        background-color:#ccc;
        padding: 10px;
        overflow-y:scroll;
        
    }
    .card{
        width: 200px;
        padding: 10px ;
        margin: 5px 0;
        background-color:white;
    }
    .card img{
        width: 100%;
    }
    .card .titleText{
        margin-top: 10px;
    }
    .detailsBtn{
        padding: 7px;
        cursor: pointer;
        font-size: 15px;
        border: none;
        margin-top: 5px;
    }
    /*country-detail-area*/
    
 .country-details{
    margin-bottom: 4rem;
    background:#ccc;
    padding: 15px;
    border-radius: 5px;
 }
  .countryDetail{
        display: flex;
        justify-content:space-around;
        margin-top: 5px;
 } 
 .countryDetail img{
     width: 100%;
     
 }
 .countryDetail .flag-img{
     width: 20%;
 }
 .countryInfo{
     text-align: start;
     width: 50%;
     margin-left: 50px;
 }
 .country-details #back{
     display: none;
     text-align: left;
     cursor: pointer;
     padding: 5px;
     background-color: #c5c3c8;
     margin-right: 5px;
     border-radius: 5px;
 } 
 

}

@media screen and (max-width: 640px) {
    
    header{
        background-color: #ecebeb;
        padding: 15px;
        width: 100vw;
    }
    .header_bg{
        display: flex;
        padding-top: 10px;
    }
    .contend_area{
        display: none;
    }
    .header_bg h1,h2{
        margin-bottom: 15px;
        font-size: 20px;
    }
    .img_area{
       width: 100vh;
    }
    .img_area img{
        width: 100%;
    }
    /* header_area-end*/

    /* table_List-area-start */
    main .container h1{
        margin-top: 30px;
        text-align: center;
    }
    .table_list{
        display: none;
    }

    /*search_box-area_start*/
    .search_box{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    
    }
    .search_box input{
        padding: 7px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-radius: 5px;
    }
    .search_box input:hover{
        border: none;
    }
    .search_box button{
        padding: 5px;
        background-color: #ecebeb;
        font-size: large;
        margin-left: 5px;
        border-radius: 5px;
        border: none;
    }
    
    .searchValue{
        display: none;
        justify-content: center;
       
    }

    /*country-display_start*/
    .country_display{
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        background-color:#ccc;
        padding: 10px;
        overflow-y: scroll;
        
    }
    .card{
        width: 200px;
        padding: 10px ;
        margin: 5px 0;
        background-color:white;
    }
    .card img{
        width: 100%;
    }
    .card .titleText{
        margin-top: 10px;
    }
    .detailsBtn{
        padding: 7px;
        cursor: pointer;
        font-size: 15px;
        border: none;
        margin-top: 5px;
    }
    /*country-details_area*/
    .country-details{
       margin-bottom: 4rem;
       background:#ccc;
       padding: 15px;
       border-radius: 5px;
    }
     .countryDetail{
           display: block;
           justify-content:space-around;
           margin-top: 5px;
    } 
    .countryDetail img{
        width: 100%;
        
    }
    .countryDetail .flag-img{
        width: 100%;
    }
    .countryInfo{
        width: 100%;
        
    }
    .countryInfo h2{
        text-align: start;
    }
    .country-details #back{
        display: none;
        text-align: left;
        cursor: pointer;
        padding: 5px;
        background-color: #c5c3c8;
        margin-bottom: 5px;
        border-radius: 5px;
    }

}





/* footer-area */
footer{
    margin-top: 30px;
    padding-top: 5px;
    background-color: black;
    height: 30px;
    justify-content: center;
    text-align: center;
    color: white;
}
