body {
    font-family: "Times New Roman", Times, serif;
}
.container {
    > .main-area {
        > .searchValue {
            display: none;
        }
        > .country-display-area {
            height: 100vh;
        }
        > .country-details-area {
            display: none;
        }
    }
    footer {
        text-align: center;
        button {
            border-radius: 50%;
            padding: 10px;
            background-color: #f77307;
            color: #ffff;
            margin: 15px 0;
        }
    }
}
